* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

body {
    background-color: #000;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.head__title {
    margin: 15px 0;
    text-align: center;
}

ol {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: justify;
}

.menu .menu__item {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

.menu .menu__item:hover {
    color: #cac4c4;
}

.spacial {
    text-transform: uppercase;
    font-weight: 700;
    color: goldenrod;
}

.menu .menu__item:hover .spacial {
    color: rgb(150, 112, 16);
}